

#root{
    padding: 0px;
    max-width: 100%;   
}

/* NAVIGATE COMPONENT*/
.expand-header{
    width: 100%;
}

.header {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
}

.size-text-nav {
    font-size: 18px;
    font-weight: bold;
}

.hover-nav:hover  {
    color: #ff3318 !important;
    transition: 0.5s;
}

/*CAROUSEL*/

.not-arrow .carousel-control-prev,
.not-arrow .carousel-control-next {
  display: none;
}

.text-title-main {
    font-size: 50px;
    font-weight: bold;
    color: #ff1818;
}


/* FOOTER*/
h4 {
    font-size: 26px;
    font-weight: bold;
}
a {
    text-decoration: none;
}

.unstyled {
    padding-left: 0;
    list-style: none;
}

.reset-anchor {
    color: inherit;
    transition: all 0.3s;
}

.hover-pointer:hover {
    cursor: pointer;
}

/*=================================*/
/*ABOUTME*/
/*=================================*/

.size-square-container{
    width: 50px;
    height: 50px;
}

.size-square{
    width: 50px;
    height: 50px;
    background-color: #ff3318;
    opacity: 0.2;
    border-radius: 16%;
}

/*===========================================*/
/*  *************** SERVICES ***************  */
/*===========================================*/

.numeric-block {
    position: relative;
}

.numeric-block-count {
    position: absolute;
    color: #DD0918;
    top: -1rem;
    left: 0;
    font-size: 6rem;
    font-weight: 700;
    opacity: 0.2;
    z-index: -1;
    line-height: 1;
}

.img-services{
    width: 373px;
    height: 433px;
    object-fit: cover;
}

.img-other{
    width: 353px;
    height: 249px;
    object-fit: cover;
}

